* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    float: left;
    background-color: steelblue;
    text-align: center;
    margin: 0 auto;
    height: 75px;
    width: 100%;
}

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
    background-color: teal;
}

nav ul,
{
    list-style: none;
    margin: 0 10;
}

nav li {
    display: inline-block;
}

nav a,
nav a:visited {
    color: #fff;
    font-weight: 800;
    padding: 15px 10px;
    text-decoration: none;
}

.selected,
nav a:hover {
    color: rgb(0, 61, 61)
}